<% if @error&.length&.send(:>, 0) %>
  <br><div id="errors">
    <%# show errors if any exist %>
    <%# this is used to pass generic messages as well %>
    <%= @error %>
  </div>
<% end %>
<% if (@running_macro_name && @running_macro_current_command)%>
  <%= erb :_running_macro %>
  <script>console.log('<%= @running_macro_name.to_s %>'); console.log("<%= @running_macro_current_command.to_s.gsub("\"", "'") %>")</script>
<% else %>
  <% if Routes::RunningCommand[:cmd].length > 0 %>
    <!-- If the root page is hit but there is an incomplete running macro,
        the running macro will be resumed
    -->
    <script>
      window.location.href = "http://localhost:4567/continue_macro_run"
    </script>
  <% end %>
  <%= erb :_macro_controls %>
  <%= erb :_macros_list %>
  <%= erb :_forms %>
<% end %>

<div id="current-screenshot">
  <%# The current screenshot of the active Firefox page %>
  <img id="page-screenshot" src="<%= @screenshot %>" alt="screenshot">
</div>

