<% if @error&.length&.send(:>, 0) %>
  <br><div id="errors">
    <%# show errors if any exist %>
    <%# this is used to pass generic messages as well %>
    <%= @error %>
  </div>
<% end %>

<% if @running_macro_name && @running_macro_current_command %>
  <%= erb :_running_macro %>
<% else %>
  <%= erb :_macro_controls %>
  <%= erb :_macros_list %>
  <%= erb :_forms %>
<% end %>

<div id="current-screenshot">
  <%# The current screenshot of the active Firefox page %>
  <img id="page-screenshot" src="<%= @screenshot %>" alt="screenshot">
</div>


